<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bar Graph Visualization</title>
</head>
<body>
<div style="text-align: center">
    <p><strong>This bar graph visualizes the demographic factor of household size to number of transactions.</strong></p>
    <h1>Bar Graph Visualization</h1>
    {% if graph_bytes %}
    <img src="data:image/png;base64,{{ graph_bytes }}" alt="Bar Graph">
    {% endif %}
</div>
</body>
</html>
